<div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
        <% if shopping_list.image? %>
            <%= link_to image_tag shopping_list.image.small.url, shopping_list_path(shopping_list) %>
        <% else %>
            <%= link_to image_tag("To-do_List-256.png", size: "64x64", style: "display: inline"), shopping_list_path(shopping_list) %>
        <% end %>
        <div class="caption">
            <h3><%= link_to shopping_list.title, shopping_list_path(shopping_list), class: ("#{shopping_list.was_bought? ? 'shopping-list-bought' : 'link-no-style'}") %></h3>
            <p>
                <span class="was-bought">נקנה?</span>
                <% if shopping_list.was_bought? %>
                    <span class="glyphicon glyphicon-ok shopping-list-bought was-bought-mark"></span>
                <% else %>
                    <span class="glyphicon glyphicon-remove was-bought-mark"></span>
                <% end %>
            </p>
            <p>נוצר על ידי <%= shopping_list.user.name %> בתאריך <%= shopping_list.created_at.strftime("%d/%m/%Y %H:%M") %></p>
            <p>
                <%= link_to "פרטים", shopping_list_path(shopping_list), class: "btn btn-primary" %>
            </p>
        </div>
    </div>
</div>