  <%= javascript_include_tag '/javascripts/buy' %>

<div class="shopping-list-heading bottom-space">
	<h1 class="inline left-space-big"><%= @shopping_list.title %></h1>
	<%= link_to "פרטים", shopping_list_path(@shopping_list), class: "btn btn-primary" %>
</div>

<% if !@shopping_list.products.any? %>
	<h3><strong>הרשימה ריקה</strong></h3>
<% else %>
	<%= form_tag action: :buy_complete, method: :post do %>
		<%= render partial: "products/products_minimal", locals: { products: @shopping_list.products } %>
		<%= submit_tag "סיים קנייה", class: "btn btn-primary" %>
	<% end %>
<% end %>
