<h1><%= @shopping_list.title %></h1>

<%= render partial: "shopping_lists/products/products", locals: { products: @products } %>

<h3>הוסף מוצר בודד או <a href="#addFromPreset">ממועדפים</a></h3>
<div class="row">
	<div class="col-md-6">
		<%= render partial: "products/form", locals: {product_container: @shopping_list} %>
	</div>
	<div class="col-md-12">
		<h3 id="addFromPreset">הוסף ממועדפים</h3>	
	</div>
	<div class="col-md-6">
		<% if @presets && @presets.any? %>
			<div class="row">
				<div class="col-md-6 search-form">
					<%= form_tag(shopping_list_presets_path(@shopping_list), :method => "get", id: "presetsSearch") do %>
						<%= hidden_field_tag :shopping_list_id, @shopping_list.id %>
					  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "חפש במועדפים" %>
					<% end %>
				</div>
			</div>
			
			<div id="presets">
				<%= render partial: "shopping_lists/presets/preset", collection: @presets , locals: { shopping_list: @shopping_list } %>
				<%= js_will_paginate @presets, :previous_label => 'הקודם', :next_label => 'הבא', params: { controller: "shopping_lists/presets", action: "index", shopping_list_id: @shopping_list.id } %>
			</div>
			
		<% else %>
			<p>לא קיימים מועדפים. היה הראשון ליצור!</p>
		<% end %>
		<!-- open alert with text and area to write preset name and description. this creates the preset with presets controller and redirect to this preset page with product form to add products to preset -->
		<!-- Button trigger modal -->
		<div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#presetFormModal">
			  צור מועדף חדש
			</button>
		</div>
		<%= render partial: "presets/form_modal" %>
	</div>
</div>