<div class="bottom-space">
	<h1 class="inline left-space-big"><%= @preset.title %></h1>
	<% if @preset.user.id == current_user.id || current_user.role == 'admin' %>
		<a href="#" class="left-space" data-toggle="modal" data-target="#presetFormModal"><span class="glyphicon glyphicon-edit light-black glyphicon-big"></span></a>
		<%= link_to @preset, method: :delete, data: { confirm: 'אתה בטוח?' } do %>
			<span class="glyphicon glyphicon-trash light-black glyphicon-big"></span><% end %>
  	<%= render partial: "presets/form_modal", locals: { preset: @preset } %>
	<% end %>
</div>

<%= render partial: "presets/products/products", locals: { products: @products } %>


<h3>הוסף מוצר</h3>
<div class="row">
	<div class="col-md-6">
		<%= render partial: "products/form", locals: {product_container: @preset, product: @new_product} %>
	</div>
</div>