<%= form_for [product_container, Product.new] do |f| %>
	<div class='form-group'>
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control', placeholder: 'הכנס את שם המוצר' %>
	</div>
	<div class='form-group'>
		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>
	</div>
	
	<%= f.label :quantity %>
	<div class='form-inline form-group'>
		<%= text_field_tag :quantity, "1", class: 'form-control', placeholder: 'הכנס כמות' %>
		<%= select_tag(:unit, options_for_select(Measure.units.map { |k,v| [t("measure.#{k}"), v] }, 1)) %>
	</div>
	<div class='form-group'>
		<%= f.submit "הוסף לרשימה", class: "btn btn-primary", :disable_with => 'מוסיף...' %>
	</div>
<% end %>