<!DOCTYPE html>
<html dir='rtl'>
<head>
  <title>Shopify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/master/dist/cdnjs/3.3.1/css/bootstrap-rtl.min.css">
</head>
<body>


	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top flip" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Shopify</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">רשימת קניות</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

		<% if flash[:notice] %>
			<div class="alert alert-success">
				<button class="close" data-dismiss="alert">&times;</button>
				<%= flash[:notice] %>
			</div>
		<% elsif flash[:fail] %>
			<div class="alert alert-danger">
				<button class="close" data-dismiss="alert">&times;</button>
				<%= flash[:fail] %>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert alert-warning">
				<button class="close" data-dismiss="alert">&times;</button>
				<%= flash[:alert] %>
			</div>
		<% end %>

        <%= yield %>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>
</html>
